@{
    ViewBag.Title = "Index";
    
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"5008bb4f-a931-401e-b892-1136117a06b5"
        });
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--Stylesheets for the icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   
    <!--customised stylesheet-->
    <link rel="stylesheet" href="~/Content/AdminView.css" />
    
    <script type="text/javascript">
$(document).ready(function(){
   $('.button-left').click(function(){
       $('.sidebar').toggleClass('fliph');
   });
});
    </script>
    <!--===================
    Header
    =======================-->
    <header class="header">
        <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="float-left"> <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a> </div>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown messages-menu">
                        
                    <li class="nav-item dropdown  user-menu">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="http://via.placeholder.com/160x160" class="user-image" alt="User Image">
                            <span class="hidden-xs">Nadina</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="main">
        <aside>
            <div class="sidebar left ">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="http://via.placeholder.com/160x160" class="rounded-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Administrator</p>
                        
                    </div>
                </div>
                <ul class="list-sidebar bg-defoult">
                    <
                    <li> <a href="/AdminView/AdminAccounts"><i class="fa fa-fw fa-user"></i> <span class="nav-label"> Accounts </span></a></li>
                    <li> <a href="/AdminView/AdminDevices"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span></a> </li>
                    <li> <a href="/AdminView/AdminScenarios"><i class="fa fa-table"></i> <span class="nav-label">Scenarios</span></a> </li>
                    <li> <a href="/AdminView/AdminSupportCases"><i class="fa fa-files-o"></i> <span class="nav-label">Support Cases</span></a> </li>
                    <li>
                        <a href="/AdminView/AdminReports" data-toggle="collapse" data-target="#products" class="collapsed active"> <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reports</span> <span class="fa fa-chevron-left pull-right"></span> </a>
                        <ul class="sub-menu collapse" id="products">
                            <li class="active"><a href="#">Report history</a></li>
                            <li><a href="#">generate new reports</a></li>
                            <li><a href="#">Some other reports</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="container body-content" id="bodyX">
            @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - SmartEveryDay</p>
            </footer>
        </div>
</body>
</html>